<!-- UXUI -->
<div class="container" style="margin-top: 150px">
    <div class="content">
        <div class="row text-center mb-5">
            <div class="col">
                <h3>U X U I</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-3 card-view p-1 mx-3">
                <img class="card-img-top" src="/assets/4x/ex_1.png" alt="Card image cap">
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
            <div class="col-sm-3 card-view p-1 mx-3">
                <img class="card-img-top" src="/assets/4x/ex_2.png" alt="Card image cap">
            </div>

            <div class="col-sm-3 card-view p-1 mx-3">
                <img class="card-img-top" src="/assets/4x/ex_3.png" alt="Card image cap">
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-sm-3 card-view p-1 mx-3">
                <img class="card-img-top" src="/assets/4x/ex_4.png" alt="Card image cap">
            </div>

            <div class="col-sm-3 card-view p-1 mx-3">
                <img class="card-img-top" src="/assets/4x/ex_5.png" alt="Card image cap">

            </div>

            <div class="col-sm-3 card-view p-1 mx-3">
                <img class="card-img-top" src="/assets/4x/ex_6.png" alt="Card image cap">

            </div>

        </div>
        <div class="row text-center mb-5">
            <div class="col">
                <a href="#">View more</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #E8CBC0">
    <div class="container">
        <div class="row p-5">
            <div class="col-6">
                <h2 class="pb-3">H a n d y w i n g s</h2>
                <p>Tackling the emerging threat of fast fashion
                    An online marketplace for sustainable fashion items from ethical brands and up-and-coming designers
                    with sustainability in mind</p>
                <button type="button" class="btn btn-light">View more</button>
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
</div>