.card-content{
    box-shadow: 0 4px 8px 0 rgba(206, 201, 201, 0.2), 0 6px 20px 0 rgba(206, 201, 201, 0.2);
    border-radius: 15px;
    margin-bottom: 50px;
    width: 100%;
}

.card-view{
    box-shadow: 0 4px 8px 0 rgba(206, 201, 201, 0.2), 0 6px 20px 0 rgba(206, 201, 201, 0.2);
    border-radius: 15px;
    margin-bottom: 50px;
    width: 100%;
}

.card-view:hover{
    box-shadow: 0 4px 8px 0 #E8CBC0, 0 6px 20px 0 #E8CBC0;
    border-radius: 15px;
    margin-bottom: 50px;
    width: 100%;
}