
<div class="container">
    <div class="content">
        <div class="row justify-content-center">
            <!-- <h1>About me</h1> -->
        </div>
        <div class="row justify-content-center">
            <div class="col-12 card-content p-5">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6">
                        <img class="card-img-top" src="/assets/me.jpeg" style="border-radius: 5px;">
                    </div>
                    <div class="col-md-6 mt-3">
                        <h4 class="card-title">B U S S A Y A M A S</h4>
                        <h5 class="card-title">S R I Y O D H I N</h5>
                        <p class="card-text mt-3">Some quick example text to build on the card title and make up the
                            bulk of the
                            card's content.Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- skills -->
    <div class="content">
        <div class="row text-center mb-4">
            <div class="col">
                <h3>S K I L L S</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pl-0">
                <div class="card-content p-5">
                    <div class="row text-center">
                        <div class="col">
                            <h5 class="card-title mb-4">Design Tools</h5>
                        </div>
                    </div>
                    <div class="row text-center mb-3">
                        <div class="col-6">
                            <p class="card-text">Figma</p>
                        </div>
                        <div class="col-6">
                            <div class="solid" style="width: 60%"></div>
                        </div>
                    </div>
                    <div class="row text-center mb-3">
                        <div class="col-6">
                            <p class="card-text">Sketch</p>
                        </div>
                        <div class="col-6">
                            <div class="solid" style="width: 20%"></div>
                        </div>
                    </div>
                    <div class="row text-center mb-3">
                        <div class="col-6">
                            <p class="card-text">Adobe Illustrator</p>
                        </div>
                        <div class="col-6">
                            <div class="solid" style="width: 50%"></div>
                        </div>
                    </div>
                    <div class="row text-center mb-3">
                        <div class="col-6">
                            <p class="card-text">Adobe Photoshop</p>
                        </div>
                        <div class="col-6">
                            <div class="solid" style="width: 50%"></div>
                        </div>
                    </div>
                    <div class="row text-center mb-3">
                        <div class="col-6">
                            <p class="card-text">Adobe After Effects</p>
                        </div>
                        <div class="col-6">
                            <div class="solid" style="width: 50%"></div>
                        </div>
                    </div>
                    <div class="row text-center mb-3">
                        <div class="col-6">
                            <p class="card-text">Adobe Premiere pro</p>
                        </div>
                        <div class="col-6">
                            <div class="solid" style="width: 40%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 pl-0">
                <div class="card-content p-5">
                    <div class="row text-center">
                        <div class="col">
                            <h5 class="card-title mb-4">Coding</h5>
                        </div>
                    </div>
                    <div class="row text-center mb-3">
                        <div class="col-6">
                            <p class="card-text">HTML</p>
                        </div>
                        <div class="col-6">
                            <div class="solid" style="width: 70%"></div>
                        </div>
                    </div>
                    <div class="row text-center mb-3">
                        <div class="col-6">
                            <p class="card-text">CSS, SCSS</p>
                        </div>
                        <div class="col-6">
                            <div class="solid" style="width: 70%"></div>
                        </div>
                    </div>
                    <div class="row text-center mb-3">
                        <div class="col-6">
                            <p class="card-text">Bootstrap</p>
                        </div>
                        <div class="col-6">
                            <div class="solid" style="width: 50%"></div>
                        </div>
                    </div>
                    <div class="row text-center mb-3">
                        <div class="col-6">
                            <p class="card-text">Wordpress</p>
                        </div>
                        <div class="col-6">
                            <div class="solid" style="width: 50%"></div>
                        </div>
                    </div>
                    <div class="row text-center mb-3">
                        <div class="col-6">
                            <p class="card-text">Angular</p>
                        </div>
                        <div class="col-6">
                            <div class="solid" style="width: 60%"></div>
                        </div>
                    </div>
                    <div class="row text-center mb-3">
                        <div class="col-6">
                            <p class="card-text">Typescript</p>
                        </div>
                        <div class="col-6">
                            <div class="solid" style="width: 40%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- experience -->
    <div class="content">
        <div class="row text-center mb-5">
            <div class="col">
                <h3>E X P E R I E N C E</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5">
            </div>
            <div class="col-2 align-middle">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 line-rigth" style=" height: 27vh"></div>
                    <div class="col-6 line-left" style=" height: 27vh"></div>
                </div>
            </div>
            <div class="col-5">
                <h5 class="pb-2" style="font-weight: bold;">July 2019 - Present</h5>
                <h5 class="pb-2">Junior front-end developer at Allianz Technology</h5>
                <p>Participate in the creation of “My Allianz” application and web application of car insurance.
                    Experience in Agile development and tools such as JIRA, Implementing the interface of an application
                    and writing unit test using Jasmine and Karma.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5">
                <h5 class="pb-2" style="font-weight: bold;">Augst 2018 - Apil 2019</h5>
                <h5 class="pb-2">Front-end Developer at Gable</h5>
                <p>Create a Rama 9 hospital web application using Wordpress </p>
            </div>
            <div class="col-2 align-middle">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 line-rigth" style=" height: 15vh"></div>
                    <div class="col-6 line-left" style=" height: 15vh"></div>
                </div>
            </div>
            <div class="col-5">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5">
            </div>
            <div class="col-2 align-middle">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
            <div class="col-5">
                <h5 class="pb-2" style="font-weight: bold;">June 2018 - Augst 2018 </h5>
                <h5 class="pb-2">UX UI Developer at Handywings (Internship program)</h5>
                <p>Design web application prototype using Figma and create a responsive using Bootstrap </p>
            </div>
        </div>
    </div>
