@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

.jumbotron {
    background-size: cover;
    min-height: 750px;
    background-color: #ffffff;
    background: url('/assets/header.jpg') no-repeat center center;
}