<div class="jumbotron">
        <div class="container">
            <!-- <div class="row text-center m-5">
                <div class="col-12">
                    <svg viewBox="0 0 1200 300">
                        <symbol id="s-text">
                            <text text-anchor="middle" x="50%" y="80%">BUSSAYAMAS</text>
                        </symbol>
    
                        <g class="g-ants">
                            <use xlink:href="#s-text" class="text-copy"></use>
                            <use xlink:href="#s-text" class="text-copy"></use>
                            <use xlink:href="#s-text" class="text-copy"></use>
                            <use xlink:href="#s-text" class="text-copy"></use>
                            <use xlink:href="#s-text" class="text-copy"></use>
                        </g>
                    </svg>
                </div>
                <div class="col-12">
                    <h2 style="color: #4A698C">Front-end deverloper & UXUI Designer</h2>
                </div>
            </div> -->
        </div>
</div>
<app-header></app-header>
<app-uxui></app-uxui>